.btn-body{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
    font-size: larger;
}
.btn-body.active{
    background-color: rgb(156, 96, 252);
}